
#mainbox{
    width:400px;
    height:500px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-250px 0 0 -200px;
    border-style: groove;
    border-width: 5px;
}


#continue {
    display: block;
    background-color: #2bddef;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 350px;
    height: 75px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0 auto;
    margin-top:10%;
}

#continue span {
    cursor: pointer;
    display: block;
    position: relative;
    transition: 0.5s;
}

#continue span:after {
    content: '>>';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -30px;
    transition: 0.5s;
}

#continue:hover span {
    padding-right: 25px;
}

#continue:hover span:after {
    opacity: 1;
    right: 0;
}


#logo{
    width:150px;
    height:150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:7%;
    margin-bottom:7%;
}

#title{
    margin: 0 auto;
    width:99%;
    font-size: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}