
#mainbox{
    width:1200px;
    height:500px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-250px 0 0 -600px;
    border-style: groove;
    border-width: 5px;
}
        
#title{
    margin: 0 auto;
    width:80%;
    margin-top: 2%;
    font-size: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
    
#typecombobox{
    font-size: 15px;
    height: 20%;
    font-family: Arial, Helvetica, sans-serif;
}

.input{
    margin-left: 2%;
    margin-top: 10%;
    display: inline-block;
}
    
.output{
    margin-left: 2%;
    margin-top: 2%;
    display: inline-block;
}
    
#inputtb{
    width:900px;
    font-family: Arial, Helvetica, sans-serif;
}
    
#outputtb{
    margin-left:28px;
    width:900px;
    font-family: Arial, Helvetica, sans-serif;
}
    
#instructions{
    margin-top: 8%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-family: Arial, Helvetica, sans-serif;
}
    
#credits{
    margin-left:2.5%;
    font-family: Arial, Helvetica, sans-serif;
}

#label{
    font-family: Arial, Helvetica, sans-serif;
}

#getart{
    font-family: Arial, Helvetica, sans-serif;
}
    